.header {
  margin-bottom: 3em;
}

.home-jumbotron {
  height: 300px;
  text-align: center;
  background: tomato;
  color: #fff;
}

.home-order-btn {
  margin-top: 1.5em;
}

.pizza-card {
  margin: 5px;
  border: 0.3px solid #80808030;
  width: 22em;
  padding: 3%;
  height: 450px;
}

.pizza-img {
  height: 180px;
  border-radius: 3px;
}

.pizza-order-btn {
  margin-top: 15px;
}

.order-item-price {
  margin: 0 5px 0 5px;
}

.order-box {
  background: tomato;
  list-style-type: none;
  padding: 10%;
}

.order-box-item {
  margin-bottom: 3px;
}

.order-total {
  margin-top: 10px;
}


.pizza-img-order {
  height: 60px;
}

.order-item {
  border: 1px solid grey;
}
