#root {
  color: #424851;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  margin: 0;
}

#home-page {
  background: linear-gradient(to right, rgba(100,54,201,0.4) 0%, rgba(255,117,117,0.4) 100%),
  url(/assets/pizza-background.jpg) no-repeat center center;
  height: 100%;
  background-size: cover;

}

#home-logo {
  font-family: 'Bangers', cursive;
  padding-top: 0.5em;
  font-size: 3.5em;
  color: #FFF;
}

#home-content {
  margin-top: 8em;
  font-size: 1.5em;
}

#home-header {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5em;
  margin-bottom: .3em;
  color: #fff;
}

@media only screen and (max-width: 600px) {

  #home-page {
    background: linear-gradient(to right, rgba(100,54,201,0.4) 0%, rgba(255,117,117,0.4) 100%),
    url(/assets/pizza-background-mobile.jpg) no-repeat center center;
    height: 100%;
    background-size: cover;

  }

  #home-content {
    margin-top: 4em;
    font-size: 1em;
  }

  #home-form,
  #home-btn,
  #home-label {
    margin-top: 1em;
  }
}

#navbar {
  background: #6435c9;
  border-bottom: 1px solid #6435c947;
  -webkit-box-shadow: -2px 6px 28px 0px rgba(196,196,196,1);
  -moz-box-shadow: -2px 6px 28px 0px rgba(196,196,196,1);
  box-shadow: -2px 6px 28px 0px rgba(196,196,196,1);
  margin-bottom: 2em;
}

#navbar-header {
  font-family: 'Bangers', cursive;
  font-size: 3em;
  color: #fff;
  padding: 15px;
}

#navbar-total {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

#footer {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

#footer p {
  font-size: .9em;
  color: #9f9f9f;
}

#page-container {
  padding-top: 5em;
  padding-bottom: 4em;
}

#page-header {
  color: #ff7575;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 1em;
  font-family: 'Bangers', cursive;
  font-size: 3.5em;
}

#menu-free-banner {
  background: linear-gradient(to right, rgba(100,54,201,0.4) 0%, rgba(255,117,117,0.4) 100%);
  width: 100%;
  margin-bottom: 4em;
  border-radius: 15px;
}

#menu-banner-text {
  padding: 0.8em;
  font-size: 1.5em;
  color: white;
  font-weight: 600;
}

#menu-pizza-container {
  margin-bottom: 2em;
}

#menu-total {
  font-size: 1.2em;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: right;
}

#menu-checkout-btn {
  margin-left: 1em;
  font-size: 0.8em;
}

#pizza-card {
  height: 32em;
  position: relative;
  border: 1px solid #6435c9;
  box-shadow: 12px 12px 0px -4px rgba(100,53,201,0.79);
}

#pizza-order-info {
  position: absolute;
  bottom: 1em;
  left: 1.2em;
}

#order-box {
  width: 80%;
}

#order-plus,
#order-minus {
  cursor: pointer;
}

#order-plus {
  margin-left: 1em;
}

#order-minus {
  margin-right: 1em;
}

#order-pizza-name {
  font-size: 1.2em;
  font-weight: 700;
}

#cart-container {
  padding-top: 3em;
  padding-bottom: 3em;
}

#cart-empty-box {
  margin-top: 8em;
  text-align: center;
}

#cart-empty-text {
  font-size: 1.5em;
  margin-bottom: 3em;
}

#cart-header {
  width: 80%;
}

#cart-menu-btn {
  position: relative;
  top: 1.2em;
  left: 0.05em;
}

#cart-total {
  text-align: right;
  font-size: 1.15em;
  margin-top: 2em;
  margin-right: 0.1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#cart-checkout-btn,
#cart-menu-btn {
  margin-right: 0;
  margin-bottom: 1em;
}

#checkout-customer-form,
#checkout-subheader {
  font-family: 'Quicksand', sans-serif;
}

input,
.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

#checkout-btn {
  width: 100%;
  margin-top: 0.8em;
}

#confirmation-container {
  padding-bottom: 5em;
}

#confirmation-text {
  text-align: center;
  font-size: 1.3em;
  margin-top: 2em;
  margin-bottom: 2em;
}

#confirmation-img {
  border-radius: 55%;
  box-shadow: -2px 6px 28px 0px rgba(196,196,196,1);
}

#confirmation-new-btn {
  margin-top: 3em;
}
