body {
  color: #424851;
  font-family: 'Quicksand', sans-serif;
}

#home-page {
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
  url(./assets/pizza-background.jpg) no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#home-logo {
  font-family: 'Bangers', cursive;
  margin-top: 0.5em;
  font-size: 4em;
  color: #FFF;
}

#home-content {
  margin-top: 8em;
  font-size: 1.5em;
}

#home-header {
  font-family: 'Quicksand', sans-serif;
  font-size: 3em;
  margin-bottom: .3em;
  color: #fff;
}

#navbar-header {
  font-family: 'Bangers', cursive;
  font-size: 4em;
  color: #6435c9;
  margin-left: -30px;
}

#navbar-menu,
#navbar-total {
  font-size: 1.2em;
  font-family: 'Quicksand', sans-serif;
  color: #6435c9;
}

#page-header {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
  font-family: 'Bangers', cursive;
  color: #424851;
  font-size: 3em;
}

#pizza-card {
  height: 32em;
  position: relative;
}

#pizza-order-info {
  position: absolute;
  bottom: 1em;
  left: 1.2em;
}

#menu-total {
  font-size: 1.2em;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: right;
}

#menu-checkout-btn {
  margin-left: 1em;
}

#cart-empty-box {
  margin-top: 8em;
  text-align: center;
}

#order-box {
  width: 80%;
}

#order-plus,
#order-minus {
  cursor: pointer;
}

#order-plus {
  margin-left: 1em;
}

#order-minus {
  margin-right: 1em;
}

#order-pizza-name {
  font-size: 1.2em;
  font-weight: 700;
}

#cart-total {
  text-align: right;
  font-size: 1.15em;
  margin-top: 2em;
  margin-right: 0.1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#cart-checkout-btn {
  margin-right: 0;
}

#checkout-sum-box {
  background: #e9e9e9;
  padding: 2em;
  font-size: 1.1em;
  border-radius: 2%;
}

#checkout-sum-total {
  font-family: 'Bangers', cursive;
  font-size: 2em;
}

#checkout-delivery,
#checkout-payment {
  font-size: 1.2em;
}

#customerForm-box {
  width: 98%;
  margin-top: 1em;
}
