.header {
  margin-bottom: 3em;
}

.home-jumbotron {
  height: 300px;
  text-align: center;
  background: tomato;
  color: #fff;
}

.home-order-btn {
  margin-top: 1.5em;
}

.pizza-card {
  margin: 10px;
  border: 0.3px solid #80808030;
  width: 22em;
  padding: 25px;
  height: 450px;
}

.pizza-img {
  height: 180px;
  border-radius: 3px;
}

.pizza-order-btn {
  margin-top: 15px;
}

@media only screen and (min-width : 768px) {
    .is-table-row {
        display: table;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}
